doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Scribble
    link(rel="stylesheet", href="style.css")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap" rel="stylesheet")
  body
    h1.text.stop Memories
    .container
      .edge
      .main
        .wrapper
          .box
            img(src="img/IMG_1858.JPG")
          .box
            img(src="img/IMG_1860.JPG")
          .box
            img(src="img/IMG_1871.JPG")
          .box
            img(src="img/IMG_1868.JPG")
        .wrapper
          .box
            img(src="img/IMG_1864.JPG")
          .box
            img(src="img/IMG_1865.JPG")
          .box
            img(src="img/IMG_1869.JPG")
      .edge

    script(src="app.js")